/* App.css */
.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.map-container {
  /* width: 1500px; 
  height: auto;  */
  flex: 3;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  background-color: rgb(37, 67, 54);
  padding: 10px;
  overflow: hidden;
}

.controls-container {
  flex: 0.5; 
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: rgb(107, 138, 122);
  padding: 5px;
  width: 100%;
}

.dropdown, .token-gallery-container {
  background-color: rgb(183, 181, 151);
  /* margin-bottom: 20px; */
  margin: 20px;
  width: 85%;
}

.dropdown label,
.token-gallery-container label {
  padding-left: 5px; /* Adjust the value as needed */
}


.token-gallery {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  width: 100%;
} 

.token-item {
  background-color: rgb(218, 211, 190);
  padding: 10px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  position: relative;
}

.token-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.token-info {
  margin-top: 2px;
  width: 100%;
}

.token-info span {
  margin-bottom: 5px;
  padding: 2px 5px;

}

.token-info button {
  padding: 2px 5px;
  position: absolute;
  right: 10px; /* Distance from the right margin */
  top: 50%; /* Vertically center the button */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.vertical-line {
  width: 60%; /* Full width of the parent */
  height: 1px; /* Thickness of the line */
  background-color: rgb(218, 211, 190); /* Color of the line */
  margin: 20px; /* Space between the gallery and the line */
}